<div>
	<ol>
	    <% ['lotr', 'gladiator', 'inception'].each do |movie| %>
	    <li>Movies I like: <%= movie %></li>
	    <% end %>
	</ol>
	<p><%= Time.now %></p>
	<% if @request.query['first_name'] && !@request.query['first_name'].empty? %>
      Hello there <%= @request.query['first_name'] %>
    <% else %>
      Enter thy name
    <% end %>
	<form method='post' action="<%= @request.path %>">
        First name: <input type="text" name="first_name" placeholder='first name'/><br />
        <input type="submit" value="Submit" />
    </form>
</div>